*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.flex{
    display: flex;
}

.between{
    justify-content: space-between;
}

.around{
    justify-content: space-around;
}

.align{
    align-items: center;
}

.wrap{
    flex-wrap: wrap;
}
    

header{
    background-color: lightskyblue;
    color: white;
}

.hamburger span{
    display: none;
    margin-left: 10px;
}

.bot-nav{
    background-color: white;
    color: black;
    border-radius: 20px;
    padding: 5px;
}

nav{
    margin: auto;
    width: 90%;
    margin-bottom: 5%;
}

.container{
    margin: auto;
    width: 90%;
    margin-bottom: 10%;
}

.card{
    background-color: aqua;
    padding: 5% 5% 0 5%;
    margin-top: 5%;
    border-radius: 20px;
}

.second img{
    width: 100%;
    margin-top: 10%;
}

.first h1{
    color: blue;
    text-align: center;
    margin-bottom: 10%;
}

.first{
    text-align: center;
}

.lorem{
    line-height: 20px;
    font-weight: bold;
}

.bottone{
    text-align: center;
    background-color: blue;
    color: white;
    border-radius: 20px;
    margin-top: 10%;
    padding: 3%;
}

.icona{
    font-size: 6rem;
    color: blue;
    margin-bottom: 10%;
}

section{
    background-color: blueviolet;
    color: white;
    text-align: center;
}

.cont-pl{
    margin: auto;
    width: 90%;
}

.planning{
    margin-top: 10%;
    padding: 5%;
}

.planning img{
    width: 100%;
    margin-top: 10%;
    margin-bottom: 10%;
}

.pl-1 h2{
    font-size: 3rem;
}

.planning h2{
    margin-bottom: 10%;
}

.pl-2{
    background-color: white;
    border-radius: 20px;
    color: black;
}

.freccia{
    background-color: blueviolet;
    border-radius: 50%;
    padding: 3%;
    margin-top: 10%;
    margin-bottom: 10%;
}

/*tablet*/
@media screen and ( min-width: 425px ){
    /*.hamburger span{
        display: none;
    }*/

    /*.fa-bars{
        display: block;
    }*/
}

@media screen and ( min-width: 768px ){
    .prima{
        flex-basis: 69%;
    }

    .seconda{
        flex-basis: 30%;
    }
    

    .container{
        margin: auto;
        width: 90%;     
        justify-content: space-between;
    }
}

/*Desktop*/
@media screen and ( min-width: 1024px ){
    .fa-bars{
        display: none;
    }

    .hamburger span{
        display: inline-block;
    }

    nav{
        margin: auto;
        width: 70%;
    }


    .prima{
        display: flex;
        justify-content: flex-start;
        flex-direction: row;
        
    }
    
    .second{
        display: flex;
        justify-content: flex-end;
        flex-direction: row;
    }
    
    .cont-pl{
        display: flex;
        justify-content: space-between;
        margin: auto;
        width: 70%;
    }

    .pl-1{
        flex-basis: 60%;
    }

    .pl-2{
        width: 70%;
        height: 60%;
        position: relative;
        bottom: -170px;
        flex-basis: 40%;
    }
}